# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
.env/
.venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles
static/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Testing
htmlcov/
.tox/
.nox/
coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebooks
.ipynb_checkpoints

# dotenv
.env

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
